apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedkai-zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pedkai
      component: zookeeper
  template:
    metadata:
      labels:
        app: pedkai
        component: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: confluentinc/cp-zookeeper:7.3.0
        ports:
        - containerPort: 2181
        env:
        - name: ZOOKEEPER_CLIENT_PORT
          value: "2181"
        - name: ZOOKEEPER_TICK_TIME
          value: "2000"
---
apiVersion: v1
kind: Service
metadata:
  name: pedkai-zookeeper
spec:
  selector:
    app: pedkai
    component: zookeeper
  ports:
  - protocol: TCP
    port: 2181
    targetPort: 2181
